*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background:  url(imagen/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
body.product{
    background:url(imagen/image4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
/* esto para header en general*/
header{ display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    position: fixed;
    width: 100%;
    z-index: 1; /*controla el orden de apilamiento de los elementos*/
    background:linear-gradient(transparent,#000000ec);
    top: 0;
    
}
header .logo{ border: 2 px solid red;
    height: 50px;
font-size: 30px;
text-transform: capitalize;

}
header ul {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
}
header ul li {
margin-right: 30px;

}
/* para  los  enlace a*/
header ul li a{
padding: 6px 6px;
border-radius: 20px;

} 
/* esto para HOME*/
header ul li a:hover,.active{
background: 0#ddd9d6;
color: #000;
}
a{
    text-decoration: none;
    color: white;} 
    /*estilo para form grande*/
    form {
        max-width: 600px;
        margin: 2em auto;
        padding: 1em;
        border: 4px solid #771b04;
        border-radius: 5px;
    }
    /* estilo para  los contenidos de formulario*/
    form div {
        margin-bottom: 1em;
    }
    form label {
        display: block;
        margin-bottom: 0.5em;
    }
    form input, form select {
        width: 100%;
        padding: 0.5em;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    form input[type="checkbox"] {
        width: auto;
    }
    form button {
        background-color: #ec850f;
        color: white;
        border: none;
        padding: 0.75em 1.5em;
        border-radius: 5px;
        cursor: pointer;
    }
    form button:hover {
        background-color: #e28b39;
    }

    /* estilo para login*/
    h1 { text-align: center;}
    .login-container {
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        background-color: rgb(216, 57, 17);
        transition: box-shadow 0.3s ease;
    }
    
    .login-container:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
    
    .input-group {
        margin-bottom: 15px;
    }
    
    .input-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        transition: all 0.3s ease;
    }
    
    input[type="text"]:focus,
    input[type="password"]:focus {
        border-color: #ff4800;
        outline: none;
    }
    
    button {
        width: 100%;
        padding: 10px;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color 0.3s ease;
    }
    
    button:active {
        transform: scale(0.98);
    }
    #message {
        text-align: center;
        margin-top: 15px;
        font-weight: bold;
    }
 
   .vedio{ position: fixed;
          width: 100%;           
             }

             /*footer*/
    footer {
        background:linear-gradient(transparent,#000000ec); /* Color de fondo del footer */
        color:rgb(224, 222, 222); 
        padding: 5px;  
        position: fixed;  
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        
      }